.cart-body{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.left-section{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.right-section{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: black;
    color: white;
    height: 20vh;
    border-radius: 10px;
    align-items: center;
}
.subtotal{
    width:200px;
    border: 2px solid black;
}